<div class="card ">
  <div class="card-header">
      <strong class="card-title ">Supprimer Entreprise</strong>
  </div>
  <div class="card-body">
<form class="form-inner center" enctype="multipart/form-data" accept-charset="utf-8">
  <div class="form-group row">
      <label for="firstname" class="col-md-3 col-form-label">
          <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Nom Entreprise </font>
          </font><i class="text-danger">
              <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">*</font>
              </font>
          </i>
      </label>
      <div class="col-md-6">
          <input name="firstname"  type="text"
              class="form-control" id="firstname" placeholder="Nom Entreprise " value="">


      </div>
  </div>

  <div class="form-group row">
      <label for="lastname" class="col-md-3 col-form-label">
          <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;"> Spécialité </font>
          </font><i class="text-danger">
              <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">*</font>
              </font>
          </i>
      </label>
      <div class="col-md-6">
          <input name="lastname" type="text"
              class="form-control" id="lastname" placeholder="Spécialité" value="">


      </div>
  </div>

  <!-- display in edit mode -->
  <div class="form-group row">
      <label for="email" class="col-md-3 col-form-label">
          <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Adresse e-mail </font>
          </font><i class="text-danger">
              <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">*</font>
              </font>
          </i>
      </label>
      <div class="col-md-6">
          <input name="email" class="form-control" type="email"
              placeholder="Adresse e-mail" id="email">


      </div>
  </div>
  <!-- ends of display edit mode-->
  <div class="form-group row">
      <label for="designation" class="col-md-3 col-form-label">
          <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Localisation</font>
          </font>
      </label>
      <div class="col-md-6">
          <input name="designation" type="text"
              class="form-control" id="designation" placeholder="Localisation" value="">


      </div>
  </div>

  <div class="form-group row">
      <label for="address" class="col-md-3 col-form-label">
          <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Adresse </font>
          </font><i class="text-danger">
              <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">*</font>
              </font>
          </i>
      </label>
      <div class="col-md-6">
          <textarea name="address"  class="form-control"
              placeholder="Adresse" maxlength="140" rows="1" id="address"></textarea>


      </div>
  </div>

  <div class="form-group row">
      <label for="phone" class="col-md-3 col-form-label">
          <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Téléphone</font>
          </font>
      </label>
      <div class="col-md-6">
          <input name="phone"  class="form-control" type="number"
              placeholder="Téléphone" id="phone" value="">


      </div>
  </div>
  <br>
  <button class="btn btn-success">
      <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Supprimer</font>
      </font>
  </button>
</form>
</div>
</div>
