<div class="container mt-3" >
  <div class="row justify-content-center" >
      <div class="col-lg-4 col-md-7">
          <div class="card border-2 mb-1">
              <div class="card-header bg-transparent pb-5">
                  <div class="text-muted text-center mt-2 mb-3"></div>
                  <br><br>
                  <div class="btn-wrapper text-center">
                      <img src="assets/img/logo.png"  width="300" height="200" style="max-height: 200px;" class="navbar-brand-img" alt="...">
                  </div>
              </div>
              <div class="card-body px-lg-5 py-lg-5">
                  <div class="text-center text-muted mb-4">

                  </div>
                  <form>
                  <div class="form-group mb-3">
                      <div class="input-group input-group-merge input-group-alternative">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-user"></i></span>
                          </div>
                          <input class="form-control" [(ngModel)]="email" [ngModelOptions]="{standalone: true}"  placeholder="Email" type="text"  name="email">
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="input-group input-group-merge input-group-alternative">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-lock"></i></span>
                          </div>
                          <input class="form-control"  [(ngModel)]="password" [ngModelOptions]="{standalone: true}" placeholder="Password" type="password" name="password">
                      </div>
                  </div>

                  <div class="text-center">
                      <button  type="submit" (click)="login()"
                          class="button-62">Connexion</button>
                  </div>
                </form>
              </div>

          </div>

      </div>

  </div>
</div>
<app-footer></app-footer>
