<div class="row h-100 justify-content-center align-items-center mt-3">
  <div class="col-auto">
<div class="card text-center" style="width: 40rem;">

  <div class="card-header">

      <strong class="card-title">Modifier Stand</strong>
  </div>
  <div class="card-body">
      <form class="form-inner" [formGroup]="form" (ngSubmit)="submit()"  enctype="multipart/form-data" accept-charset="utf-8">
          <div class="form-group row">
              <label for="nom_entreprise" class="col-md-3 col-form-label">
                  <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">Nom de L'entreprise </font>
                  </font><i class="text-danger">
                      <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">*</font>
                      </font>
                  </i>
              </label>
              <div class="col-md-6">
                  <input name="nom_entreprise" formControlName="nom_entreprise" type="text" class="form-control"  placeholder="Nom de L'entreprise" required>
              </div>
          </div>

          <div class="form-group row">
              <label for="nom_proprietaire" class="col-md-3 col-form-label">
                  <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">Nom de Propriétaire </font>
                  </font><i class="text-danger">
                      <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">*</font>
                      </font>
                  </i>
              </label>
              <div class="col-md-6">
                  <input name="nom_proprietaire" formControlName="nom_proprietaire" type="text" class="form-control"  placeholder="Nom de Propriétaire">

              </div>
          </div>

          <!-- display in edit mode -->
          <div class="form-group row">
              <label for="email" class="col-md-3 col-form-label">
                  <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">Adresse e-mail </font>
                  </font><i class="text-danger">
                      <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">*</font>
                      </font>
                  </i>
              </label>
              <div class="col-md-6">
                  <input name="email" formControlName="email" class="form-control" type="email" placeholder="Adresse e-mail">

              </div>
          </div>
         <div class="form-group row">
              <label for="telephone" class="col-md-3 col-form-label">
                  <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">Téléphone</font>
                  </font>
              </label>
              <div class="col-md-6">
                  <input name="telephone" formControlName="telephone" class="form-control" type="text" placeholder="Téléphone">
              </div>
          </div>

          <div class="form-group row">
              <label class="col-md-3" >
                  <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">Emplacement</font>
                  </font><i class="text-danger">
                      <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">*</font>
                      </font>
                  </i>
              </label>
              <div class="col-md-6">
                  <div class="form-check">
                      <label class="radio-inline">
                          <input type="radio" formControlName="emplacement" name="emplacement" value="En amont"
                              checked="&quot;checked&quot;">
                          <font style="vertical-align: inherit;">
                              <font style="vertical-align: inherit;">En amont </font>
                          </font>
                      </label>  &nbsp;
                      <label class="radio-inline">
                          <input  type="radio" formControlName="emplacement"  name="emplacement" value="Au centre">
                          <font style="vertical-align: inherit;">
                              <font style="vertical-align: inherit;">Au centre </font>
                          </font>
                      </label> &nbsp;
                      <label class="radio-inline">
                        <input type="radio" formControlName="emplacement" name="emplacement" value="En aval">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">En aval</font>
                        </font>
                    </label>
                  </div>
              </div>
          </div>

          <div class="form-group row">
              <label for="type_pack" class="col-md-3 col-form-label">
                  <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">Type de Package</font>
                  </font>
              </label>
              <div class="col-md-6">
                  <select name="type_pack" formControlName="type_pack" class="form-control select2-hidden-accessible"
                      tabindex="-1" aria-hidden="true">

                      <option value="Gold">
                          <font style="vertical-align: inherit;">
                              <font style="vertical-align: inherit;">Gold</font>
                          </font>
                      </option>
                      <option value="Silver">
                          <font style="vertical-align: inherit;">
                              <font style="vertical-align: inherit;">Silver</font>
                          </font>
                      </option>
                      <option value="Bronze">
                          <font style="vertical-align: inherit;">
                              <font style="vertical-align: inherit;">Bronze</font>
                          </font>
                      </option>
                  </select>
              </div>
          </div>
          <button class="btn btn-success">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Sauvegarder</font>
            </font>
        </button>
      </form>
  </div>
</div>
  </div>
</div>
<app-footer></app-footer>
