<div class="row h-100 justify-content-center align-items-center mt-3">
  <div class="col-auto">
<div class="card text-center" style="width: 40rem;">

  <div class="card-header">

      <strong class="card-title">Nouveau invité</strong>
  </div>
  <div class="card-body">
      <form class="form-inner" enctype="multipart/form-data" accept-charset="utf-8">



          <div class="form-group row">
              <label for="firstname" class="col-md-3 col-form-label">
                  <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">Prénom </font>
                  </font><i class="text-danger">
                      <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">*</font>
                      </font>
                  </i>
              </label>
              <div class="col-md-6">
                  <input name="firstname" type="text" class="form-control" id="firstname"
                  formControlName="firstname"
                      placeholder="Prénom" value="">
              </div>
          </div>

          <div class="form-group row">
              <label for="lastname" class="col-md-3 col-form-label">
                  <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">Nom de famille </font>
                  </font><i class="text-danger">
                      <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">*</font>
                      </font>
                  </i>
              </label>
              <div class="col-md-6">
                  <input name="lastname" type="text" class="form-control" id="lastname"
                    formControlName="lastname"
                      placeholder="Nom de famille" value="">
              </div>
          </div>

          <!-- display in edit mode -->
          <div class="form-group row">
              <label for="email" class="col-md-3 col-form-label">
                  <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">Adresse e-mail </font>
                  </font><i class="text-danger">
                      <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">*</font>
                      </font>
                  </i>
              </label>
              <div class="col-md-6">
                  <input name="email" class="form-control" type="email" placeholder="Adresse e-mail"
             formControlName="email" id="email"
                      value="">
              </div>
            </div>

          <div class="form-group row">
              <label for="phone" class="col-md-3 col-form-label">
                  <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">Téléphone</font>
                  </font>
              </label>
              <div class="col-md-6">
                  <input name="phone" class="form-control" type="number" placeholder="Pas de téléphone"
                    formControlName="phone" id="phone"
                      value="">
              </div>
          </div>
          <div class="form-group row">
              <label class="col-md-3">
                  <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">Sexe </font>
                  </font><i class="text-danger">
                      <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">*</font>
                      </font>
                  </i>
              </label>
              <div class="col-md-6">
                  <div class="form-check">
                      <label class="radio-inline">
                          <input formControlName="sex" type="radio" name="sex" value="Male"
                              checked="&quot;checked&quot;">
                          <font style="vertical-align: inherit;">
                              <font style="vertical-align: inherit;">Masculin </font>
                          </font>
                      </label>  &nbsp;
                      <label class="radio-inline">
                          <input formControlName="sex" type="radio" name="sex" value="Female">
                          <font style="vertical-align: inherit;">
                              <font style="vertical-align: inherit;">Femme </font>
                          </font>
                      </label>
                  </div>
              </div>
          </div>
          <button class="btn btn-success">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Sauvegarder</font>
            </font>
        </button>
      </form>
  </div>
</div>
<app-footer></app-footer>
