<body>
  <div class="container">
      <!-- Outer Row -->
      <div class="row justify-content-center">
          <div class="col-xl-6 col-lg-12 col-md-8">

              <div class="card o-hidden border-0 shadow-lg my-4">
                  <div class="card-body p-0">
                      <!-- Nested Row within Card Body -->
                      <div class="row">
                          <div class="col-lg-12">
                              <div class="p-5">
                                   <div class="text-center">
                                      <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                  </div>
                                  <form class="user">
                                      <div class="form-group">
                                          <input type="email" class="form-control form-control-user"
                                              id="exampleInputEmail" aria-describedby="emailHelp"
                                              placeholder="Enter Email Address...">
                                      </div>
                                      <div class="form-group">
                                          <input type="password" class="form-control form-control-user"
                                              id="exampleInputPassword" placeholder="Password">
                                      </div>
                                      <div class="form-group">
                                          <div class="custom-control custom-checkbox small">
                                              <input type="checkbox" class="custom-control-input" id="customCheck">
                                              <label class="custom-control-label" for="customCheck">Remember
                                                  Me</label>
                                          </div>
                                      </div>
                                      <a href="index.html" class="btn btn-primary btn-user btn-block">
                                          Login
                                      </a>
                                      <hr>
                                      <a href="index.html" class="btn btn-google btn-user btn-block">
                                          <i class="fab fa-google fa-fw"></i> Login with Google
                                      </a>
                                      <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                          <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                                      </a>
                                  </form>
                                  <hr>
                                  <div class="text-center">
                                      <a class="small" href="forgot-password.html">Forgot Password?</a>
                                  </div>
                                  <div class="text-center">
                                      <a class="small" href="register.html">Create an Account!</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>

            </div>

      </div>
  </div>
     <!-- Footer -->
     <footer class="sticky-footer ">
      <div class="container my-auto">
        <div class=" text-center my-auto">
       <a href="https://www.facebook.com/FEEnicarthage">  <i  class="fa-brands fa-facebook" ></i></a>  &nbsp;
       <a href="https://twitter.com/ENI_Carthage"><i class="fa-brands fa-twitter"></i></a>   &nbsp;
         <a href="https://www.linkedin.com/school/ecole-nationale-d%E2%80%99ing%C3%A9nieurs-de-carthage-enicarthage/"> <i class="fa-brands fa-linkedin"></i></a>

        </div>
    </div>
    <div class="container ">
      <div class=" text-center ">
        <i class="fa-solid fa-location-dot"></i> &nbsp;
          <span>45 Rue des Entrepreneurs 2035 Charguia II Tunis- Carthage-Tunisie</span>
      </div>
  </div>
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Enicarthage &copy; Forum Edition 2024</span>
            </div>
        </div>
    </footer>
  </body>
