<div class="row h-100 justify-content-center align-items-center mt-3">
  <div class="col-auto">
<div class="card text-center" style="width: 40rem;">

  <div class="card-header">

      <strong class="card-title ">Modifier Entreprise</strong>
  </div>
  <div class="card-body">
<form  [formGroup]="form" (ngSubmit)="submit()" class="form-inner" enctype="multipart/form-data" accept-charset="utf-8">
  <div class="form-group row">
      <label for="nom" class="col-md-3 col-form-label">
          <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Nom Entreprise </font>
          </font><i class="text-danger">
              <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">*</font>
              </font>
          </i>
      </label>
      <div class="col-md-6">
          <input name="nom" formControlName="nom"  type="text"
              class="form-control" id="nom" placeholder="Nom Entreprise " >
      </div>
  </div>

  <div class="form-group row">
      <label for="specialite" class="col-md-3 col-form-label">
          <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;"> Spécialité </font>
          </font><i class="text-danger">
              <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">*</font>
              </font>
          </i>
      </label>
      <div class="col-md-6">
          <input name="specialite" type="text" formControlName="specialite"
              class="form-control" id="specialite" placeholder="Spécialité" >
      </div>
  </div>

  <!-- email -->
  <div class="form-group row">
      <label for="email" class="col-md-3 col-form-label">
          <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Adresse e-mail </font>
          </font><i class="text-danger">
              <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">*</font>
              </font>
          </i>
      </label>
      <div class="col-md-6">
          <input name="email" formControlName="email" class="form-control" type="email"
              placeholder="Adresse e-mail" id="email">


      </div>
  </div>
  <!--adresse-->
  <div class="form-group row">
      <label for="adresse" class="col-md-3 col-form-label">
          <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Adresse </font>
          </font><i class="text-danger">
              <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">*</font>
              </font>
          </i>
      </label>
      <div class="col-md-6">
          <textarea name="adresse" formControlName="adresse" class="form-control"
              placeholder="Adresse" maxlength="140" rows="1" id="adresse"></textarea>
      </div>
  </div>

  <div class="form-group row">
      <label for="telephone" class="col-md-3 col-form-label">
          <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Téléphone</font>
          </font>
      </label>
      <div class="col-md-6">
          <input name="telephone" formControlName="telephone"  class="form-control" type="text"
              placeholder="Téléphone" id="telephone">
      </div>
  </div>
  <div class="form-group row">
    <label for="budget" class="col-md-3 col-form-label">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Budget</font>
        </font>
    </label>
    <div class="col-md-6">
        <input name="budget" formControlName="budget"  class="form-control" type="text"
            placeholder="Budget" id="budget">
    </div>
</div>
<div class="row">
  <div class="col-md-12 form-group">
    <button [disabled]="!form.valid" class="btn btn-primary w-100" type="submit" value="Submit">Button</button>
  </div>
</div>

</form>
  </div>
</div>
  </div>
</div>
<app-footer></app-footer>
