 <!-- Footer -->
 <footer class="sticky-footer  ">
  <div class="container my-auto">
    <div class=" text-center my-auto">
   <a href="https://www.facebook.com/FEEnicarthage">  <i  class="fa-brands fa-facebook" ></i></a>  &nbsp;
   <a href="https://twitter.com/ENI_Carthage"><i class="fa-brands fa-twitter"></i></a>   &nbsp;
     <a href="https://www.linkedin.com/school/ecole-nationale-d%E2%80%99ing%C3%A9nieurs-de-carthage-enicarthage/"> <i class="fa-brands fa-linkedin"></i></a>

    </div>
</div>
<div class="container ">
  <div class=" text-center ">
    <i class="fa-solid fa-location-dot"></i> &nbsp;
      <span>45 Rue des Entrepreneurs 2035 Charguia II Tunis- Carthage-Tunisie</span>
  </div>
</div>
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Enicarthage &copy; Forum Edition 2024</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->
