<div class="row h-100 justify-content-center align-items-center mt-3">
    <div class="col-auto">
<div class="card text-center" style="width: 40rem;">

  <div class="card-header">

      <strong class="card-title">Nouvelle Entreprise</strong>
  </div>
  <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="submit()" class="form-inner" enctype="multipart/form-data" accept-charset="utf-8">
          <div class="form-group row">
              <label for="nom" class="col-md-3 col-form-label">
                  <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">Nom Entreprise </font>
                  </font><i class="text-danger">
                      <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">*</font>
                      </font>
                  </i>
              </label>
              <div class="col-md-6">
                  <input name="nom"  formControlName="nom" type="text" class="form-control"  placeholder="Nom Entreprise" required>
              </div>
          </div>

          <div class="form-group row">
              <label for="specialite" class="col-md-3 col-form-label">
                  <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">Spécialité</font>
                  </font><i class="text-danger">
                      <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">*</font>
                      </font>
                  </i>
              </label>
              <div class="col-md-6">
                  <input name="specialite" formControlName="specialite" type="text" class="form-control" id="specialite"
                      placeholder="Spécialité" required>
              </div>
          </div>

          <!-- email -->
          <div class="form-group row">
              <label for="email" class="col-md-3 col-form-label">
                  <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">Adresse e-mail </font>
                  </font><i class="text-danger">
                      <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">*</font>
                      </font>
                  </i>
              </label>
              <div class="col-md-6">
                  <input name="email" formControlName="email" class="form-control" type="email" placeholder="Adresse e-mail" required >
              </div>
          </div>

          <!-- Adress-->
          <div class="form-group row">
              <label for="adresse" class="col-md-3 col-form-label">
                  <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">Adresse </font>
                  </font><i class="text-danger">
                      <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">*</font>
                      </font>
                  </i>
              </label>
              <div class="col-md-6">
                  <textarea name="address" formControlName="adresse" class="form-control" placeholder="Adresse"

                      maxlength="140" rows="1" id="address" required=""></textarea>
              </div>
          </div>
     <!--telephone-->
          <div class="form-group row">
              <label for="telephone" class="col-md-3 col-form-label">
                  <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">Téléphone</font>
                  </font>
              </label>
              <div class="col-md-6">
                  <input name="telephone" formControlName="telephone" class="form-control" type="text" placeholder="Téléphone" required  >
              </div>
          </div>

          <!-- if representative picture is already uploaded -->

          <div class="form-group row">
              <label for="picture" class="col-md-3 col-form-label">
                  <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">Image</font>
                  </font>
              </label>
              <div class="col-md-6">
                  <input type="file" name="picture" id="picture" value="">
                  <input type="hidden" name="old_picture" value="">
              </div>
          </div>
          <!--budget-->
          <div class="form-group row">
              <label for="budget" class="col-md-3 col-form-label">
                  <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">Budget</font>
                  </font>
              </label>
              <div class="col-md-6">
                  <input type="number" formControlName="budget" name="budget" class="form-control" placeholder="Budget"
                      id="budget" required>
              </div>
          </div>
          <button type="reset" class="col-md-12 btn btn-secondary">
              <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Réinitialiser</font>
              </font>
          </button>
          &nbsp;
          <div class="row">
            <div class="col-md-12 form-group">
              <input [disabled]="!form.valid" class="btn btn-primary w-100" type="submit" value="Submit">
            </div>
          </div>
      </form>


  </div>
</div>
  </div>
  <app-footer></app-footer>
</div>

