<div class="row h-100 justify-content-center align-items-center mt-3">
  <div class="col-auto">
<div class="card text-center" style="width: 40rem;">

  <div class="card-header">

      <strong class="card-title">Supprimer Sponsor</strong>
  </div>
  <div class="card-body">
      <form class="form-inner" enctype="multipart/form-data" accept-charset="utf-8">
          <div class="form-group row">
              <label for="firstname" class="col-md-3 col-form-label">
                  <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">Nom Sponsor </font>
                  </font><i class="text-danger">
                      <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">*</font>
                      </font>
                  </i>
              </label>
              <div class="col-md-6">
                  <input name="firstname" type="text" class="form-control" id="firstname"

                      placeholder="Nom Sponsor " value="">
              </div>
          </div>
          <div class="form-group row">
          <!-- display in edit mode -->
          <div class="form-group row">
              <label for="email" class="col-md-3 col-form-label">
                  <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">Adresse e-mail </font>
                  </font><i class="text-danger">
                      <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">*</font>
                      </font>
                  </i>
              </label>
              <div class="col-md-6">
                  <input name="email" class="form-control" type="email" placeholder="Adresse e-mail"
                   id="email"
                      value="">
              </div>
          </div>
          </div>
          <button class="btn btn-success">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Supprimer</font>
            </font>
        </button>

      </form>


  </div>
</div>
  </div>
</div>
<app-footer></app-footer>
