<section id="home" class="header_area">
  <div id="header_navbar" class="header_navbar">
  <div class="container">
  <div class="row">
  <div class="col-lg-12">
  <nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">
  <img id="logo" src="\assets\images\logo.png" alt="Logo" height="60px" width="40px">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="toggler-icon"></span>
  <span class="toggler-icon"></span>
  <span class="toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
  <ul id="nav" class="navbar-nav ml-auto">
  <li class="nav-item">
  <a class="page-scroll active" href="#home">Home</a>
  </li>
  <li class="nav-item">
  <a class="page-scroll" href="#about">About</a>
  </li>
  <li class="nav-item">
  <a class="page-scroll" href="#services">Partners</a>
  </li>
  <li class="nav-item">
  <a class="page-scroll" href="#portfolio">Gallery</a>
  </li>
  <li class="nav-item">
  <a class="page-scroll" href="#team">Pack</a>
   </li>
  <li class="nav-item">
  <a class="page-scroll" href="#blog">Blog</a>
  </li>
  <li class="nav-item">
  <a class="page-scroll" href="#contact">Contact</a>
  </li>
  </ul>
  </div>
  </nav>
  </div>
  </div>
  </div>
  </div>
  <!-- * * * * * * * * * * * * * *header * * * * * * * * * * * * * * * * * -->
  <div class="header_hero">
  <div class="single_hero bg_cover d-flex align-items-center" style="background-image: url(assets/images/hero.jpg)">
  <div class="container">
  <div class="row justify-content-center">
  <div class="col-lg-8 col-md-10">
  <div class="hero_content text-center">
  <h2 class="hero_title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">FORUM ENTREPRISES ENICARTHAGE<br /> Plateforme</h2>
  <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s">“If opportunity doesn't knock, build a door.”</p>
  <a routerLink="/login" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.8s">Register</a>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </section>
  <br>
  <section id="features" class="features_area pt-120">
    <div class="container">
    <div class="row justify-content-center">
    <div class="col-lg-6">
    <div class="section_title text-center pb-25">
    <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Why Choose Us</h4>
    <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s"></p>
    </div>
    </div>
    </div>
    <div class="row justify-content-center">
    <div class="col-lg-4 col-md-7">
    <div class="single_features text-center mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
      <i class="lni lni-graduation"></i>
    <h4 class="features_title">Recent and dynamic training programmes.</h4>

    </div>
    </div>
    <div class="col-lg-4 col-md-7">
    <div class="single_features text-center mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
      <i class="lni lni-target-revenue"></i>
    <h4 class="features_title">Opening up to the socioeconomic environment.</h4>

    </div>
    </div>
    <div class="col-lg-4 col-md-7">
    <div class="single_features text-center mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.6s">
      <i class="lni lni-network"></i>
    <h4 class="features_title">A rich community life and diverse club activities.</h4>

    </div>
    </div>
    </div>
    </div>
    </section>
     <br>


  <!-- * * * * * * * * * * * *about * * * * * * * * * * * * * * * * * * * -->

  <section id="about" class="pt-130">
  <div class="about_area">
  <div class="container">
  <div class="row">
  <div class="col-lg-6">
  <div class="about_content pt-120 pb-130">
  <div class="section_title pb">
  <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">About Our
  Creative Proccess</h4>
  <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">The National Engineering School of Carthage (ENICarthage) is a public higher education institution,
    reporting to the University of Carthage, created (Decree No. 2002-1623 of 9 July 2002),as the Higher School of Technology and Computer Science (ESTI),
    in 2002 and transformed into a national engineering school recruiting its students from the national engineering competition from September 2012 (decree no. 2014-4677 of 29 December 2014).</p>
  <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.6s">Having been authorised to award Master's degrees since 2002 and having integrated the LMD system since September 2007,
     This school offered several specialized training in the fields of Electrical Engineering, Computer Science,
     and Industrial Management, including training for engineers in applied sciences and technology.</p>
  </div>
  <a href="#" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.7s">Learn More</a>
  </div>
  </div>
  </div>
  </div>
  <div class="about_image bg_cover wow fadeInLeft" data-wow-duration="1.3s" data-wow-delay="0.2s" style="background-image: url(assets/images/about.PNG)">
  <div class="image_content">
  <h4 class="experience"><span>30</span> Years of Experience</h4>
  </div>
  </div>
  </div>
  </section>
<br>
  <!-- * * * * * * * * * * * * * partners* * * * * * * * * * * * * * * * * * -->
  <section id="services" class="features_area pt-120">
  <div class="container">
  <div class="row justify-content-center">
  <div class="col-lg-6">
  <div class="section_title text-center pb-25">
  <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Our partners</h4>
  <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s"> "Coming together is a beginning, staying together is progress,
   and working together is success."
  </p>
  </div>
  </div>
  </div>
  <br>
  <div class="row">
  <div class="col-lg-4 col-md-6">

  <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">

    <img src="assets/images/uvt.jpg" width="200px" height="200px" alt="portfolio">
  <h4 class="features_title"></h4>
  <p></p>

  </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
      <img src="assets/images/ibm.jpg" width="200px" height="200px" alt="portfolio">
    <h4 class="features_title"></h4>
    <p></p>
    </div>
    </div>

  <div class="col-lg-4 col-md-6">
  <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s">
    <img src="assets/images/sof.png"  width="200px" height="200px" alt="portfolio">

  <h4 class="features_title"></h4>
  <p></p>
  </div>
  </div>
  <div class="col-lg-4 col-md-6">
  <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
    <img src="assets/images/evo.jpg" width="200px" height="200px" alt="portfolio">
  <h4 class="features_title"></h4>
  <p></p>
  </div>
  </div>
  <div class="col-lg-4 col-md-6">
  <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
    <img src="assets/images/foc.png" width="200px" height="200px" alt="portfolio">
  <h4 class="features_title"></h4>
  <p></p>
  </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
      <img src="assets/images/org.png" width="200px" height="150px" alt="portfolio">
    <h4 class="features_title"></h4>
    <p></p>
    </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
        <img src="assets/images/line.png" width="200px" height="150px" alt="portfolio">
      <h4 class="features_title"></h4>
      <p></p>
      </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
          <img src="assets/images/zod.jfif" width="200px" height="150px" alt="portfolio">
        <h4 class="features_title"></h4>
        <p></p>
        </div>
        </div>
   <div class="col-lg-4 col-md-6">
    <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
            <img src="assets/images/global.jpg" width="200px" height="150px" alt="portfolio">
          <h4 class="features_title"></h4>
          <p></p>
          </div>
          </div>
   <div class="col-lg-4 col-md-6">
            <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
              <img src="assets/images/cog.png" width="180px" height="100px" alt="portfolio">
            <h4 class="features_title"></h4>
            <p></p>
            </div>
            </div>
<div class="col-lg-4 col-md-6">
              <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
                <img src="assets/images/biat.PNG" width="180px" height="150px" alt="portfolio">
              <h4 class="features_title"></h4>
              <p></p>
              </div>
              </div>

  <div class="col-lg-4 col-md-6">
                <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
                  <img src="assets/images/linux.jpg" width="200px" height="160px" alt="portfolio">
                <h4 class="features_title"></h4>
                <p></p>
                </div>
                </div>

 <div class="col-lg-4 col-md-6">
                  <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
                    <img src="assets/images/digit.jpg" width="200px" height="200px" alt="portfolio">
                  <h4 class="features_title"></h4>
                  <p></p>
                  </div>
                  </div>
  <div class="col-lg-4 col-md-6">
                    <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
                      <img src="assets/images/tunis.png" width="200px" height="200px" alt="portfolio">
                    <h4 class="features_title"></h4>
                    <p></p>
                    </div>
                    </div>
 <div class="col-lg-4 col-md-6">
                      <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
                        <img src="assets/images/time.jfif"  width="200px" height="200px" alt="portfolio">
                      <h4 class="features_title"></h4>
                      <p></p>
                      </div>
                      </div>
<div class="col-lg-4 col-md-6">
                        <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
                          <img src="assets/images/micro.jpg"  width="200px" height="100px" alt="portfolio">
                        <h4 class="features_title"></h4>
                        <p></p>
                        </div>
                        </div>
 <div class="col-lg-4 col-md-6">
                          <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
                            <img src="assets/images/steg.jpg"  width="200px" height="100px" alt="portfolio">
                          <h4 class="features_title"></h4>
                          <p></p>
                          </div>
                          </div>
  <div class="col-lg-4 col-md-6">
                            <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
                              <img src="assets/images/ecol.png"  width="200px" height="100px" alt="portfolio">
                            <h4 class="features_title"></h4>
                            <p></p>
                            </div>
                            </div>
  <div class="col-lg-4 col-md-6">
                              <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
                                <img src="assets/images/inst.png"  width="200px" height="150px" alt="portfolio">
                              <h4 class="features_title"></h4>
                              <p></p>
                              </div>
                              </div>
 <div class="col-lg-4 col-md-6">
                                <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
                                  <img src="assets/images/poste.jpg"  width="200px" height="150px" alt="portfolio">
                                <h4 class="features_title"></h4>
                                <p></p>
                                </div>
                                </div>
<div class="col-lg-4 col-md-6">
                                  <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
                                    <img src="assets/images/com.png"  width="220px" height="150px" alt="portfolio">
                                  <h4 class="features_title"></h4>
                                  <p></p>
                                  </div>
                                  </div>
 <div class="col-lg-4 col-md-6">
                                    <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
                                      <img src="assets/images/busi.jpg"  width="150px" height="150px" alt="portfolio">
                                    <h4 class="features_title"></h4>
                                    <p></p>
                                    </div>
                                    </div>
<div class="col-lg-4 col-md-6">
                                      <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
                                        <img src="assets/images/ance.jpg"  width="150px" height="150px" alt="portfolio">
                                      <h4 class="features_title"></h4>
                                      <p></p>
                                      </div>
                                      </div>
</div>
</div>
 </section>
<br>
  <!-- * * * * * * * * * * * *gallery * * * * * * * * * * * * * * * * * * * -->
  <section id="portfolio" class="portfolio_area pt-120">
  <div class="container">
  <div class="row justify-content-center">
  <div class="col-lg-6">
  <div class="section_title text-center pb-60">
  <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Our Portfolio</h4>
  <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">"WE do not remembers days, WE remembers moments."</p>
  </div>
  </div>
  </div>
  </div><br>
  <div class="portfolio_wrapper d-flex flex-wrap">
  <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
  <img src="assets/images/portfolio-1.jpeg" alt="portfolio">
  <div class="portfolio_content">
  <ul class="meta">
  <li><a href="#"><i class="lni lni-link"></i></a></li>
  </ul>
  <h5 class="portfolio_title">Forum Entreprises ENICarthage 2019</h5>
  </div>
  </div>
  <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s">
  <img src="assets/images/portfolio-2.jpeg" alt="portfolio">
  <div class="portfolio_content">
  <ul class="meta">
  <li><a href="#"><i class="lni lni-link"></i></a></li>
  </ul>
  <h5 class="portfolio_title">Forum Entreprises ENICarthage 2019</h5>
  </div>
  </div>
  <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
  <img src="assets/images/portfolio-3.jpeg" alt="portfolio">
  <div class="portfolio_content">
  <ul class="meta">
  <li><a href="#"><i class="lni lni-link"></i></a></li>
  </ul>
  <h5 class="portfolio_title">Forum Entreprises ENICarthage 2019</h5>
  </div>
  </div>
  <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s">
  <img src="assets/images/portfolio-4.jpeg" alt="portfolio">
  <div class="portfolio_content">
  <ul class="meta">
  <li><a href="#"><i class="lni lni-link"></i></a></li>
  </ul>
  <h5 class="portfolio_title">Forum Entreprises ENICarthage 2019</h5>
  </div>
  </div>
  <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
  <img src="assets/images/portfolio-5.jpeg" alt="portfolio">
  <div class="portfolio_content">
  <ul class="meta">
  <li><a href="#"><i class="lni lni-link"></i></a></li>
  </ul>
  <h5 class="portfolio_title">Forum Entreprises ENICarthage 2019</h5>
  </div>
  </div>
  <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s">
  <img src="assets/images/portfolio-6.jpeg" alt="portfolio">
  <div class="portfolio_content">
  <ul class="meta">
  <li><a href="#"><i class="lni lni-link"></i></a></li>
  </ul>
  <h5 class="portfolio_title">Forum Entreprises ENICarthage 2019</h5>
  </div>
  </div>
  <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
  <img src="assets/images/portfolio-7.jpeg" alt="portfolio">
  <div class="portfolio_content">
  <ul class="meta">
  <li><a href="#"><i class="lni lni-link"></i></a></li>
  </ul>
  <h5 class="portfolio_title">Forum Entreprises ENICarthage 2018</h5>
  </div>
  </div>
  <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
    <img src="assets/images/portfolio-9.jpeg" alt="portfolio">
    <div class="portfolio_content">
    <ul class="meta">
    <li><a href="#"><i class="lni lni-link"></i></a></li>
    </ul>
    <h5 class="portfolio_title">Forum Entreprises ENICarthage 2019</h5>
    </div>
    </div>
  <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s">
  <img src="assets/images/portfolio-8.jpeg" alt="portfolio">
  <div class="portfolio_content">
  <ul class="meta">
  <li><a href="#"><i class="lni lni-link"></i></a></li>
  </ul>
  <h5 class="portfolio_title">Forum Entreprises ENICarthage 2018</h5>
  </div>
  </div>
  <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s">
    <img src="assets/images/portfolio-10.jpeg" alt="portfolio">
    <div class="portfolio_content">
    <ul class="meta">
    <li><a href="#"><i class="lni lni-link"></i></a></li>
    </ul>
    <h5 class="portfolio_title">Forum Entreprises ENICarthage 2019</h5>
    </div>
    </div>
    <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s">
      <img src="assets/images/portfolio-11.jpeg" alt="portfolio">
      <div class="portfolio_content">
      <ul class="meta">
      <li><a href="#"><i class="lni lni-link"></i></a></li>
      </ul>
      <h5 class="portfolio_title">Forum Entreprises ENICarthage 2019</h5>
      </div>
      </div>
      <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s">
        <img src="assets/images/portfolio-12.jpeg" alt="portfolio">
        <div class="portfolio_content">
        <ul class="meta">
        <li><a href="#"><i class="lni lni-link"></i></a></li>
        </ul>
        <h5 class="portfolio_title">Forum Entreprises ENICarthage 2019</h5>
        </div>
        </div>
  </div>
  </section>
  <!-- * * * * * * * * * * * * * * stand* * * * * * * * * * * * * * * * * -->
  <section id="pricing" class="pricing_area pt-120 pb-130">
  <div class="container">
  <div class="row justify-content-center">
  <div class="col-lg-6">
   <div class="section_title text-center pb-25">
  <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Stands</h4>
  <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">"If you want to go fast, GO ALONE.
    If you want to go far, GO TOGETHER. " <br>Join US</p>
  </div>
  </div>
  </div><br>
  <div class="row justify-content-center">
  <div class="col-lg-3 col-md-8 col-sm-10">
  <div class="single_pricing text-center mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
  <h4 class="pricing_title">Forward</h4>
  <span class="price">500D</span>
  <ul class="pricing_list">
  <li>Startup Business</li>
  <li>Business Consulting</li>
  <li>Business Analysis</li>
  <li>Corporate Business</li>
  <li>Business Investment</li>
  </ul>
  <a href="#" class="mian-btn">Order Now</a>
  </div>
  </div>
  <div class="col-lg-3 col-md-8 col-sm-10">
  <div class="single_pricing text-center mt-30 active wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s">
  <h4 class="pricing_title">Middle</h4>
  <span class="price">1000D</span>
  <ul class="pricing_list">
  <li>Startup Business</li>
  <li>Business Consulting</li>
  <li>Business Analysis</li>
  <li>Corporate Business</li>
  <li>Business Investment</li>
  </ul>
  <a href="#" class="mian-btn">Order Now</a>
  </div>
  </div>
  <div class="col-lg-3 col-md-8 col-sm-10">
  <div class="single_pricing text-center mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
  <h4 class="pricing_title">Back</h4>
  <span class="price">1500D</span>
  <ul class="pricing_list">
  <li>Startup Business</li>
  <li>Business Consulting</li>
  <li>Business Analysis</li>
  <li>Corporate Business</li>
  <li>Business Investment</li>
  </ul>
  <a href="#" class="mian-btn">Order Now</a>
  </div>
  </div>
  </div>
  </div>
  </section>
  <br>


  <!-- * * * * * * * * * * * * * pack* * * * * * * * * * * * * * * * * * -->
  <section id="team" class="team_area pt-120 pb-130">
  <div class="container">
  <div class="row justify-content-center">
  <div class="col-lg-6">
  <div class="section_title text-center pb-25">
  <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Pack</h4>
  <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">"To have a sponsor is better but to be a sponsor is the best."</p>
  </div>
  </div>
  </div>
  <br>
  <div class="row justify-content-center team_active ">
  <div class="col-lg-3 col-md-8 col-sm-10">
  <div class="single_team mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
  <img src="assets/images/team-1.png" width="180px" height="300px" alt="team">

  </div>
  </div>
  <div class="col-lg-3 col-md-8 col-sm-10">
  <div class="single_team mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s">
  <img src="assets/images/team-2.jpg" width="180px" height="300px" alt="team">

  </div>
  </div>
  <div class="col-lg-3 col-md-8 col-sm-10 ">
  <div class="single_team mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
  <img src="assets/images/team-3.webp" width="180px" height="300px" alt="team">

  </div>
  </div>
  </div>
  </div>
  </section>
  <br>


  <section id="testimonial" class="testimonial_area pt-130 pb-130 bg_cover" style="background-image: url(assets/images/testimonial.jpeg)">
  <div class="container ">
  <div class="row justify-content-center ">
  <div class="col-lg-8">
  <div class="glide testimonial_active">
  <div class="glide__track" data-glide-el="track">
  <div class="glide__slides">
  <div class="glide__slide single_testimonial text-center">
  <img src="assets/images/gold.jpg" width="180px" height="200px"  alt="author">
  <h5 class="author_name">GOLD</h5>
  <span>Package 1</span>
  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
  tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
  vero eos accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
  </p>
  </div>
   <div class="glide__slide single_testimonial text-center">
  <img src="assets/images/silver.jpg" width="180px" height="200px" alt="author">
  <h5 class="author_name">SILVER</h5>
  <span>Package 1 & package 2</span>
  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
  tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
  vero eos accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
  </p>
  </div>
  <div class="glide__slide single_testimonial text-center">
  <img src="assets/images/bronze.jpg" width="180px" height="200px" alt="author">
  <h5 class="author_name">BRONZE</h5>
  <span>Package 1 & package 2 & package 3</span>
  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
  tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
  vero eos accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
  </p>
  </div>
  </div>
  </div>
  <div class="glide__bullets" data-glide-el="controls[nav]">
  <button class="glide__bullet" data-glide-dir="=0"></button>
  <button class="glide__bullet" data-glide-dir="=1"></button>
  <button class="glide__bullet" data-glide-dir="=2"></button>
  </div>
  </div>
  </div>
  </div>
  </div>
  </section>
  <br>


<!-- * * * * * * * * * * * * * blog* * * * * * * * * * * * * * * * * * -->
  <section id="blog" class="blog_area pt-120 pb-130">
  <div class="container">
  <div class="row justify-content-center">
  <div class="col-lg-6">
  <div class="section_title text-center pb-25">
  <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Last Edition</h4>
  <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">It's time for an engineering step.</p>
  </div>
  </div>
  </div>
  <br><br>
  <div class="row">
  <div class="col-lg-6">
  <div class="single_blog mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
  <div class="blog_image">
  <img src="assets/images/blog-1.jpeg" alt="blog">
  </div>
  <div class="blog_content">
  <h3 class="blog_title"><a href="#">The theme of this edition is the implementation
    of a CSR strategy by companies in order to propose real solutions to environmental
    and societal challenges and contribute in some way to sustainable development.</a></h3>
  <p>Faced with the many social and environmental challenges exacerbated by the pandemic,
    CSR is now institutionalized in most companies!</p>

  <a href="#" class="more">Read More</a>
</div>
  </div>
  </div>
  <div class="col-lg-6">
  <div class="single_blog blog_2 d-sm-flex mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
  <div class="blog_image">
   <img src="assets/images/blog-2.jpeg" alt="blog">
  </div>
  <div class="blog_content media-body">
  <h3 class="blog_title"><a href="#"></a></h3>
  <p></p>
  </div>
  </div>
  <div class="single_blog blog_2 d-sm-flex mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s">
  <div class="blog_image">
  <img src="assets/images/blog-3.jpeg" alt="blog">
  </div>
  <div class="blog_content media-body">
  <h3 class="blog_title"><a href="#"></a></h3>
  <p></p>

  </div>
  </div>
  </div>
  </div>
  </div>
  </section>


<!-- * * * * * * * * * * * * * contact* * * * * * * * * * * * * * * * * * -->
  <section id="contact" class="contact_area bg_cover" style="background-image: url(assets/images/contact_bg.jpeg)">
  <div class="container ">
  <div class="row justify-content-center">
  <div class="col-lg-6">
  <div class="section_title section_title_2 text-center pb-25">
  <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Contact Us</h4>
  <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s"></p>
  </div>
  </div>
  </div>
  <form id="contact-form" action="assets/contact.php" method="post" class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
  <div class="row ">
    <div class="mx-auto col-12 col-md-8 col-lg-6">
  <div class="col-lg-12 ">
  <div class="single_form">
  <input type="email" placeholder="Email" name="email" id="email" required>
  </div>
  </div>
  <div class="col-lg-12 ">
  <div class="single_form">
  <input type="text" placeholder="Subject" name="subject" id="subject" required>
  </div>
  </div>
  <div class="col-lg-12 ">
  <div class="single_form">
  <textarea placeholder="Message" name="message" id="message" required></textarea>
  </div>
  </div>
  <p class="form-message"></p>
  <div class="col-lg-12 m-3">
  <div class="single_form text-center">
    <button class="main-btn" type="submit">SUBMIT</button>
  </div>
  </div>
  </div>
  </div>
  </form>

  </div>
    </section>

<!-- * * * * * * * * * * * * * footer* * * * * * * * * * * * * * * * * * -->
  <footer id="footer" class="footer_area">
  <div class="container">
  <div class="footer_wrapper text-center d-lg-flex align-items-center justify-content-between">
  <p class="credit">Designed and Developed by <a href="https://therichpost.com/" rel="nofollow">Oumaymas</a></p>
  <div class="footer_social pt-15">
  <ul>
  <li><a href="https://www.facebook.com/FEEnicarthage"><i class="lni lni-facebook-original"></i></a></li>
  <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
  <li><a href="https://www.instagram.com/forumenicarthage/"><i class="lni lni-instagram-original"></i></a></li>
  <li><a href="https://www.linkedin.com/school/ecole-nationale-d%E2%80%99ing%C3%A9nieurs-de-carthage-enicarthage/?fbclid=IwAR32ny75tjKWDrxnIoneeCyZD4asiXX5QsI28Qi2T8q30O6KiE1Ukp564pA"><i class="lni lni-linkedin-original"></i></a></li>
  <li><a href="#"><i class="lni lni-user"></i></a></li>
</ul>
  </div>
  </div>
  </div>
  </footer>
  <a href="#" class="back-to-top"><i class="lni lni-chevron-up"></i></a>
