<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
   <div class="form-body">
    <div class="row">
        <div class="form-holder">
             <div class="form-content">
                <div class="form-items">
                  <div class="btn-wrapper text-center m-0">
                    <img src="assets/img/logo.png"  width="260" height="150" style="max-height: 200px;">
                </div>
                    <h3>Register Today</h3>
                    <p>Fill in the data below.</p>
                    <form [formGroup]="form" (ngSubmit)="submit()" class="requires-validation" novalidate>
                      <div class="col-md-12">
                        <input formControlName="nom" class="form-control" type="text" name="nom" placeholder="First Name" id="nom" required >
                        <div class="valid-feedback">Username field is valid!</div>
                        <div class="invalid-feedback">Username field cannot be blank!</div>
                     </div>
                        <div class="col-md-12">
                           <input formControlName="prenom" class="form-control" type="text" name="prenom" placeholder="Last  Name" id="nom" required >
                        </div>

                        <div class="col-md-12">
                            <input formControlName="email" class="form-control" type="email" name="email" placeholder="E-mail Address" id="email" required >
                        </div>

                       <div class="col-md-12">
                          <input  formControlName="telephone" class="form-control" type="text" name="telephone" placeholder="Telephone" id="telephone" required >
                       </div>


                       <div class="col-md-12 mt-3">
                        <label class="mb-3 mr-1" for="gender" >Gender: </label>
                        <div class="col-md-6">
                          <div class="form-check">
                              <label class="radio-inline">
                                  <input type="radio" formControlName="sex" name="sex" value="Male"
                                      checked="&quot;checked&quot;">
                                  <font style="vertical-align: inherit;">
                                      <font style="vertical-align: inherit;">Masculin </font>
                                  </font>
                              </label>  &nbsp;
                              <label class="radio-inline">
                                  <input  type="radio" formControlName="sex" name="sex" value="Female">
                                  <font style="vertical-align: inherit;">
                                      <font style="vertical-align: inherit;">Femme </font>
                                  </font>
                              </label>
                          </div>
                      </div>
                  </div>

                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                    </div>


                        <div class="form-button mt-3">
                            <button id="submit" type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </form>

                </div>

            </div>
            <app-footer></app-footer>

        </div>

    </div>

  </div>



</body>
</html>
